<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Mimimimetr</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<style>
    .twoCat {
        margin: 0 auto;
        text-align: center;
    }
</style>

<div style="text-align: center;">
    <h1>
        <p style="font-family:'Comic Sans MS',sans-serif;">Мимимиметр</p>
    </h1>
    <br>
    <br>
    <h3>
        <p style="font-family:'Comic Sans MS',sans-serif;">Кто из них мимимишнее? Кликни по фотографии!</p>
    </h3>
</div>
<div align="center">
    <table>
        <tr>
            <td>
                <img th:id="${cat1.id}"
                     th:src="${'data:image/png;base64, '+ cat1base64}"
                     class="size" onclick="voting(this.id)">
            </td>
            <td>
                <img th:id="${cat2.id}"
                     th:src="${'data:image/png;base64, '+ cat2base64}"
                     class="size" onclick="voting(this.id)">

            </td>
        </tr>
        <tr>

            <td align="center">
                <input th:id="${cat1.id}" type="button" th:value="${cat1.cats_name}" onclick="voting(this.id)">
            </td>


            <td align="center">
                <input th:id="${cat2.id}" type="button" th:value="${cat2.cats_name}" onclick="voting(this.id)">
            </td>
        </tr>
    </table>
</div>
</table>
</body>

<script>
    function voting(ID) {
        sendRequest(ID, '/voting');
        location.reload();
    }

    function sendRequest(data, url) {
        var upScore = new XMLHttpRequest();
        upScore.open('POST', url);
        upScore.send(data);
    }
</script>

</html>
